<style>
	table {
		border: 1px solid grey;
			border-spacing: 0px;
			border-collapse: separate;
	}
		td {
			border: 1px solid grey;
			padding: 5px 15px;
		}

</style>

<h2>Date</h2>
<p>Format names can be mixed with various options.  See below the most likely examples.</p>
<table>
	<th>Format</th><th>Directive</th><th>Filter</th></tr>
	<tr>
		<td> none </td>
		<td>
			<fs-date fs-date="date"></fs-date><br/>
			<code>&lt;fs-date fs-date="date"&gt;&lt;/fs-date&gt;</code>
		</td>
		<td>
			{{date | fsDate}}<br/>
			<code>{{'{{'}}date | fsDate{{'}\}'}}</code>
		</td>
	</tr>
	<tr ng-repeat="format in formats">
		<td> {{format}} </td>
		<td>
			<fs-date fs-date="date" fs-format="{{format}}"></fs-date><br/>
			<code>&lt;fs-date fs-date="date" fs-format="{{format}}"&gt;&lt;/fs-date&gt;</code>
		</td>
		<td>
			{{date | fsDate:format}}<br/>
			<code>{{'{{'}}date | fsDate:'{{format}}'{{'}\}'}}</code>
		</td>
	</tr>
</table>



<h2>Ago</h2>
<p>There is only one format for ago, it includes both display format and a mouseover tooltip, as shown below</p>
<p>Note: the directive will update itself as time passes, the filter will not.</p>
<table>
	<th>Format</th><th>Directive</th><th>Filter</th></tr>
	<tr ng-repeat="from_date in from_dates">
		<td> {{from_date | fsDate:'date-time'}} </td>
		<td>
			<fs-date-ago fs-date="from_date"></fs-date-ago><br/>
			<code>&lt;fs-date-ago fs-date="from_date"&gt;&lt;/fs-date-ago&gt;</code>
		</td>
		<td>
			{{from_date | fsDateAgo}}<br/>
			<code>{{'{{'}}from_date | fsDateAgo{{'}\}'}}</code>
		</td>
	</tr>
	<tr>
		<td> {{from_dates[10] | fsDate:'date-time'}} </td>
		<td>
			<fs-date-ago fs-date="from_dates[10]" fs-format="date-time"></fs-date-ago><br/>
			<code>&lt;fs-date-ago fs-date="from_date" fs-format="date-time"&gt;&lt;/fs-date-ago&gt;</code>
		</td>
		<td>
			{{from_dates[10] | fsDateAgo:'date-time'}}<br/>
			<code>{{'{{'}}from_date | fsDateAgo:'date-time'{{'}\}'}}</code>
		</td>
	</tr>
</table>





<h2>Range</h2>
<p>When dealing with 2 dates in a range, unnecessary repetition can be avoided using the “range” parameter.  Note that range parameter works along with other date time format patterns.</p>
<table>
	<tr><th>format</th><th>Context</th><th>Directive</th><th>Filter</th></tr>
	<tbody ng-repeat="format in range_formats">
		<tr ng-repeat="range in ranges">
			<td> {{format}} </td>
			<td> {{range.desc}} </td>
			<td>
				<fs-date-range fs-from="range.start" fs-to="range.end" fs-format="{{format}}"></fs-date-range><br/>
				<code>&lt;fs-date-range fs-from="range.start" fs-to="range.end" fs-format="{{format}}"&gt;&lt;/fs-date-range&gt;</code>
			</td>
			<td>
				{{ [range.start,range.end] | fsDateRange:format}}<br/>
				<code>{{'{{'}} [range.start,range.end] | fsDateRange:'{{format}}'{{'}\}'}}</code>
			</td>
		</tr>
	</tbody>
</table>






<h2>Duration</h2>
<p>Format time as a duration.  i.e. number of minutes</p>
<table>
	<th>minutes</th><th>Directive</th><th>Filter</th><th>Service</th></tr>
	<tr ng-repeat="row in durations">
		<td>
			{{row.time}}
		</td>
		<td>
			<fs-date-duration fs-time="row.time" fs-unit="{{row.options.unit}}" fs-remainder="{{row.options.remainder}}"></fs-date-duration><br/>
			<code>&lt;fs-date-duration fs-time="time" fs-unit="{{row.options.unit}}"&gt;&lt;/fs-date-duration&gt;</code>
		</td>
		<td>
			{{row.time | fsDateDuration:row.options}}<br/>
			<code>{{'{{'}}time | fsDateDuration:{{row.options}} {{'}\}'}}</code>
		</td>
		<td>
			{{duration(row.time, row.options)}}<br/>
			<code>duration(time, {{row.options}})</code>
		</td>
	</tr>
</table>


<h2>Granular Duration</h2>
{{651651 | fsDateGranularDuration}}
<br>
{{undefined | fsDateGranularDuration}}


{{23570 | fsDateDuration:'hour-minute' }}
<br><br>
<h3>{{23570 | fsDateDuration:'hour' }}</h3>
<h3>{{65165132 | fsDateDuration:'year-hour-minute' }}</h3>
<h3>{{65165132 | fsDateDuration:'year-day-hour-minute' }}</h3>
<h3>{{65165132 | fsDateDuration:'hour' }}</h3>
<h3>{{65165132 | fsDateDuration:'year' }}</h3>

<br /><br /><br />





